body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
}

*{
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
}

/*
================Parte direita==================
*/

.intro{
    float: left;
    width: 50vw;
    padding: 2rem;
}

.intro>h1{
    color: #7c17ff;
    font-size: 3rem;
    font-family: 'Fira Sans', Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

.intro>p{
    font-size: 1.2rem;
    margin: 0 0 4rem 2rem;
    color: rgb(150, 150, 150);
    animation: fading 2s;
}

.intro>img{
    width: 500px;
    margin-left: 5rem;
    animation: fading 2s; 
}

@keyframes fading{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

/*
===================Parte esquerda================
*/

.container{
    position: absolute;
    right: -30px;

    box-sizing: border-box;
    width: 40vw;
    height: 90vh;
    
    padding: 20px;
    margin-top: 5vh;
    
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 10px 3px rgba(160, 119, 255, 0.445);
    border-radius: 20px;
    animation: movin 1s ease;
}

@keyframes movin {
    0%{
        right: -500px;
    }
}

.total{
    font-size: 1.5rem;
    margin: 0;
}

.amount{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.positive{
    color: green;
}

.negative{
    color: red;
}


/*
================== Historic================
*/

.historic-container{
    position: relative;
}

.historic-title{
    font-size: 1rem;
    color: rgb(150, 149, 149);
}

.clear{
    position: absolute;
    top: 0;
    right: 2rem;

    width: 5rem;

    border: 1px solid red;
    border-radius: 10px;
    color: red;
}

.clear:hover{
    transform: scale(1.2);
    color: #FFF;
    background-color: red;
}

.historic{
    overflow-y: auto;
    height: 40vh;
    width: 30vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px;
}

.historic::-webkit-scrollbar{
    display: none;
}

.historic-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 1rem;
    margin-left: 4rem;
    padding: 15px;
    font-size: 0.7rem;
    
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.089);
}

.remove{
    cursor: pointer;
    border: none;
    font-weight: bolder;
    background-color: #FFF;
    color: red; 
    width: 2rem;
    height: 2rem;
}

.remove:hover{
    transform: scale(1.4);
}

.name{
    margin: 0;
    word-break: break-all;
    max-width: 60%;
}

.value{
    color: #7c17ff;
    margin: 0;
}

/*
===================== Alert ===================
*/

.alert-error{
    display: none;
}

.alert-error>p{
    color: red;
    font-weight: 200;

    margin: 5px 0 0 0;
    padding: 0;
}

/*
==================== Inputs====================
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;
}

.inputsAreas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    font-size: 1rem;
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(0, 17, 255);
}

input:focus{
    outline: 0;
    transform: scale(1.2);
}

button{
    cursor: pointer;
}

.btn-add{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 17, 255);
    color: rgb(0, 17, 255);
}

.btn-add:hover{
    transform: scale(1.1);
    animation: none;
    color: #FFF;
    background-color: rgb(0, 17, 255);
}

.btn-add:active{
    transform: scale(1.0);
    background-color: rgb(49, 62, 255);
}

/*
================= Footer ==============
*/

footer{
    position: fixed;
    width: 10rem;
    bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.171);
    text-align: right;
    animation: movFromLeft 1s ease-in;
    animation-fill-mode: both;
    animation-delay: 5s;
}


@keyframes movFromLeft {
    0%{
        left: -10rem;
    }
    100%{
        left: -10px;
    }
}

.social{
    margin: 5px;
    width: 50px;
}

/*
=================================
            RENPONSIVE
=================================
*/

@media screen and (max-width: 1000px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .intro{
        float: none;
        padding: 0;
    }
    
    .intro>h1{
        display: none;
    }

    .intro>p{
        display: none;
    }

    .intro>img{
        opacity: 70%;
        margin: 10rem 0;
        width: 110vw;
        border-bottom: 1px solid black;
        animation: fadin 2s;
    }

    @keyframes fadin{
        0%{
            opacity: 0%;
        }
    }

    .container{
        background-color: transparent;
        box-shadow: none;
        float: none;
        padding: 30px;
        
        position: fixed;
        
        top: -2rem;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .historic{
        padding: 0;
        height: 27vh;
        width: 60vw;
    }

    .historic-container{
        padding: 0;
        height: 35vh;
    }

    .historic-box{
        margin: 10px 0;
    }

    .inputs{
        flex-direction: column;
    }

    .btn-add, .clear{
        border-radius: 0;
        box-shadow: none;
    }

    button, input{
        text-align: center;
        background-color: #FFF;
    }

    footer{
        position: fixed;
        top: 0;
        width: 5rem;
        right: 0;
        text-align: left;
        bottom:unset;
        left: unset;
        animation: none;
    }

    .social{
        width: 30px;
        margin: 5px;
    }
}